<% include ../partials/header %>

 <div class="container">
     <header class="jumbotron thumbail_background_color">
         <div class="container">
             <h1>
                 <i class="fa fa-gamepad fa-2x" aria-hidden="true"></i>
                 Welcome To MMOPortal!
            </h1>
             <p>View our large collection game reviews from gamers all around the world!</p>
             <p>
                <a class="btn btn-primary btn-large" href="/games/new">Add New Review</a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% games.forEach(function(game){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail thumbail_background_color">
                   <img src="<%= game.image %>">
                   <div class="caption">
                       <h4><%= game.name %></h4>
                   </div>
                   <p>
                       <a href="/games/<%= game._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
